extends ../base/layout

block variables
  - var title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      padding-left: 15px;
      color: #ff970a;
      font-weight: 500;
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    var pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — main.html",
        src: "main.html"
      },
    ]

  main.container.main-index
    +company-logo
    h1 Список страниц
    ol
      each page in pages
        li
          a(href= page.src)= page.name
