.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 0 40px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
