@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "SF UI Display";

  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-Light.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "SF UI Display";

  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "SF UI Display";

  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "SF UI Display";

  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "SF UI Display";

  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "SF UI Display";

  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-Black.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Black.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gotham Pro";

  font-display: swap;
  src:
    url("../fonts/GothamPro.woff2") format("woff2"),
    url("../fonts/GothamPro.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Gotham Pro";

  font-display: swap;
  src:
    url("../fonts/GothamPro-Medium.woff2") format("woff2"),
    url("../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gotham Pro";

  font-display: swap;
  src:
    url("../fonts/GothamPro-Bold.woff2") format("woff2"),
    url("../fonts/GothamPro-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Inter";

  font-display: swap;
  src:
    url("../fonts/Inter-Semibold.woff2") format("woff2"),
    url("../fonts/Inter-Semibold.woff") format("woff");
}
