mixin company-logo
  .header__logo
    img.header__logo-desktop(src="img/svg/logo.svg" width="164" height="62" alt="Логотип Бридж. Инвестиционный фонд")
    img.header__logo-mobile(src="img/svg/logo-mobile.svg" width="28" height="41" alt="Логотип Бридж. Инвестиционный фонд")
