mixin video-controls
  .video-controls
    .video-controls__wrapper
      button.video-controls__btn
        +icon("icon-play", 21, 21)
      button.video-controls__btn
        +icon("icon-fullscreen", 19, 19)
      button.video-controls__btn
        +icon("icon-mute", 26, 21)
